@charset "UTF-8";
li {
  list-style: none;
}

* {
  padding: 0;
  bottom: 0;
}

.header {
  background-color: black;
  color: white;
}
.header .header-wrap {
  width: 1245px;
  margin: 0 auto;
  padding: 10px 0;
  display: flex;
  align-items: center;
}
.header .header-wrap .logo {
  cursor: pointer;
}
.header .header-wrap .category ul {
  margin-left: 15px;
}
.header .header-wrap .category ul li {
  display: inline-block;
  margin: 0 10px;
  padding: 0 5px;
  font-size: 22px;
  font-weight: bold;
  cursor: pointer;
}
.header .header-wrap .category ul li:hover {
  color: #FFBF00;
}
.header .header-wrap .user-menu {
  margin-left: auto;
}
.header .header-wrap .user-menu ul li {
  display: inline-block;
  margin: 0 10px;
  padding: 0 5px;
  font-size: 16px;
  cursor: pointer;
}
.header .header-wrap .user-menu ul li:hover {
  color: #FFBF00;
}
.header .header-wrap .user-menu ul li.search input {
  padding: 10px;
  border-radius: 5px;
}
.header .header-wrap .user-menu ul li.cart {
  position: relative;
}
.header .header-wrap .user-menu ul li.cart .cart-state {
  position: absolute;
  top: -15px;
  right: -10px;
  background-color: #FFBF00;
  color: black;
  width: 20px;
  height: 20px;
  line-height: 20px;
  border-radius: 5px;
  text-align: center;
}

.visual-main .visual-main-wrap {
  width: 1245px;
  margin: 0 auto;
}
.visual-main .visual-main-wrap .swiper {
  width: 100%;
  height: 450px;
}
.visual-main .visual-main-wrap .swiper .swiper-slide {
  overflow: hidden;
}
.visual-main .visual-main-wrap .swiper .swiper-slide img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.visual-main .visual-main-wrap .swiper .swiper-button-prev, .visual-main .visual-main-wrap .swiper .swiper-button-next {
  height: 100%;
  line-height: 450px;
  font-size: 36px;
  padding: 0 20px;
  color: #FFBF00;
  position: absolute;
  z-index: 1;
  cursor: pointer;
  margin-top: 0;
}
.visual-main .visual-main-wrap .swiper .swiper-button-prev:hover, .visual-main .visual-main-wrap .swiper .swiper-button-next:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
.visual-main .visual-main-wrap .swiper .swiper-button-prev {
  top: 0;
  left: 0;
}
.visual-main .visual-main-wrap .swiper .swiper-button-next {
  top: 0;
  right: 0;
}
.visual-main .visual-main-wrap .swiper .swiper-pagination {
  position: absolute;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px 0;
  --swiper-theme-color: black;
}
.visual-main .visual-main-wrap .swiper .swiper-pagination .swiper-pagination-bullet {
  color: white;
  background: none;
  margin: 0 15px;
  display: inline;
}

.best-products .best-products-wrap {
  width: 1245px;
  margin: 0 auto;
}
.best-products .best-products-wrap h2 {
  text-align: center;
}
.best-products .best-products-wrap .swiper {
  width: 100%;
}
.best-products .best-products-wrap .swiper .swiper-slide {
  position: relative;
}
.best-products .best-products-wrap .swiper .swiper-slide .slide-wrap {
  margin-bottom: 40px;
}
.best-products .best-products-wrap .swiper .swiper-slide img {
  width: 100%;
  cursor: pointer;
}
.best-products .best-products-wrap .swiper .swiper-slide img.hover-img {
  width: 100%;
  height: calc(100% - 40px);
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  z-index: 1;
  transition: 0.1s;
}
.best-products .best-products-wrap .swiper .swiper-slide img.hover-img:hover {
  opacity: 1;
}
.best-products .best-products-wrap .swiper .swiper-slide p.name {
  position: absolute;
  z-index: 2;
  bottom: 40px;
  background-color: rgba(0, 0, 0, 0.3);
  width: 100%;
  margin: auto 0;
  height: 70px;
  padding: 10px;
  box-sizing: border-box;
  color: white;
}
.best-products .best-products-wrap .swiper .swiper-button-prev, .best-products .best-products-wrap .swiper .swiper-button-next {
  position: absolute;
  top: 0;
  padding: 0 15px;
  color: #FFBF00;
  height: calc(100% - 40px);
  margin-top: 0;
}
.best-products .best-products-wrap .swiper .swiper-button-prev:hover, .best-products .best-products-wrap .swiper .swiper-button-next:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
.best-products .best-products-wrap .swiper .swiper-button-prev {
  left: 0;
}
.best-products .best-products-wrap .swiper .swiper-button-next {
  right: 0;
}
.best-products .best-products-wrap .swiper .swiper-pagination-bullet-active {
  background-color: #FFBF00;
}

.new-products .new-products-wrap {
  width: 1245px;
  margin: 0 auto;
}
.new-products .new-products-wrap h2 {
  text-align: center;
}
.new-products .new-products-wrap .swiper {
  width: 100%;
}
.new-products .new-products-wrap .swiper .swiper-slide {
  position: relative;
}
.new-products .new-products-wrap .swiper .swiper-slide .slide-wrap {
  margin-bottom: 40px;
}
.new-products .new-products-wrap .swiper .swiper-slide img {
  width: 100%;
  cursor: pointer;
}
.new-products .new-products-wrap .swiper .swiper-slide img.hover-img {
  width: 100%;
  height: calc(100% - 40px);
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  z-index: 1;
  transition: 0.1s;
}
.new-products .new-products-wrap .swiper .swiper-slide img.hover-img:hover {
  opacity: 1;
}
.new-products .new-products-wrap .swiper .swiper-slide p.name {
  position: absolute;
  z-index: 2;
  bottom: 40px;
  background-color: rgba(0, 0, 0, 0.3);
  width: 100%;
  margin: auto 0;
  height: 70px;
  padding: 10px;
  box-sizing: border-box;
  color: white;
}
.new-products .new-products-wrap .swiper .swiper-button-prev, .new-products .new-products-wrap .swiper .swiper-button-next {
  position: absolute;
  top: 0;
  padding: 0 15px;
  color: #FFBF00;
  height: calc(100% - 40px);
  margin-top: 0;
}
.new-products .new-products-wrap .swiper .swiper-button-prev:hover, .new-products .new-products-wrap .swiper .swiper-button-next:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
.new-products .new-products-wrap .swiper .swiper-button-prev {
  left: 0;
}
.new-products .new-products-wrap .swiper .swiper-button-next {
  right: 0;
}
.new-products .new-products-wrap .swiper .swiper-pagination-bullet-active {
  background-color: #FFBF00;
}

.lookbook h2 {
  width: 1245px;
  margin: 0 auto;
  padding: 20px 0;
}
.lookbook .lookbook-wrap {
  width: 1245px;
  margin: 0 auto;
  display: flex;
  overflow: hidden;
  transition: width 0.5s;
}
.lookbook .lookbook-wrap .accordion {
  width: 405px;
  height: 700px;
  margin-right: 15px;
  overflow: hidden;
  position: relative;
  cursor: pointer;
}
.lookbook .lookbook-wrap .accordion:last-child {
  margin-right: 0;
}
.lookbook .lookbook-wrap .accordion img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
}
.lookbook .lookbook-wrap .accordion .hover-content {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  opacity: 0;
  transition: 0.1s;
}
.lookbook .lookbook-wrap .accordion .hover-content:hover {
  opacity: 1;
}
.lookbook .lookbook-wrap .accordion .hover-content .hover-text {
  width: 100%;
  position: absolute;
  bottom: 0;
  padding: 30px;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
}
.lookbook .lookbook-wrap .accordion .hover-content .hover-text p {
  margin: 0;
  line-height: 30px;
}
.lookbook .lookbook-wrap .accordion .hover-content .hover-text span {
  color: #FFBF00;
}

.mds-pick h2 {
  width: 1245px;
  margin: 0 auto;
  padding: 20px 0;
}
.mds-pick .mds-pick-wrap {
  width: 1245px;
  margin: 0 auto;
  display: flex;
}
.mds-pick .mds-pick-wrap .pick-product {
  width: 630px;
  margin-right: 15px;
  display: flex;
  position: relative;
  transition: flex 0.2s;
  overflow: hidden;
}
.mds-pick .mds-pick-wrap .pick-product:last-child {
  margin-right: 0;
}
.mds-pick .mds-pick-wrap .pick-product img {
  width: 300px;
}
.mds-pick .mds-pick-wrap .pick-product .hover-content {
  flex: 0 0 330px;
  margin: auto 0;
}
.mds-pick .mds-pick-wrap .pick-product .hover-content p {
  text-align: center;
}
.mds-pick .mds-pick-wrap .pick-product .hover-content button {
  margin: 0 auto;
  display: block;
  padding: 5px 10px;
  background-color: #FFBF00;
  cursor: pointer;
  border: 1px solid black;
  transition: 0.1s;
}
.mds-pick .mds-pick-wrap .pick-product .hover-content button:hover {
  background-color: #fff;
}
.mds-pick .mds-pick-wrap > .pick-product:nth-child(1):hover {
  flex: 0 0 660px;
}
.mds-pick .mds-pick-wrap > .pick-product:nth-child(2):hover {
  flex: 0 0 660px;
}
.mds-pick .mds-pick-wrap > .pick-product:nth-child(3):hover {
  flex: 0 0 660px;
}
.mds-pick .mds-pick-wrap > .pick-product:nth-child(4):hover {
  flex: 0 0 660px;
}

.instagram h2 {
  margin: 0 auto;
  width: 1245px;
  padding: 20px 0;
}
.instagram .instagram-wrap {
  margin: 0 auto;
  width: 1245px;
  display: flex;
  overflow: hidden;
}
.instagram .instagram-wrap .insta-post {
  width: 300px;
  height: 300px;
  margin-right: 15px;
  position: relative;
}
.instagram .instagram-wrap .insta-post:last-child {
  margin-right: 0;
}
.instagram .instagram-wrap .insta-post img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.instagram .instagram-wrap .insta-post .link {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  line-height: 300px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  opacity: 0;
  text-align: center;
  cursor: pointer;
  transition: 0.2s;
}
.instagram .instagram-wrap .insta-post .link:hover {
  opacity: 1;
}

.footer .footer-wrap {
  width: 1245px;
  margin: 0 auto;
  border-top: 1px solid #eee;
  letter-spacing: -1px;
}
.footer .footer-wrap .about ul {
  display: flex;
  justify-content: space-between;
  padding: 30px 0;
}
.footer .footer-wrap .about ul li {
  flex-grow: 1;
  text-align: center;
  font-weight: bold;
  border-right: 1px solid #aaa;
  cursor: pointer;
}
.footer .footer-wrap .about ul li:hover {
  color: #FFBF00;
}
.footer .footer-wrap .about ul li:last-child {
  border-right: none;
}
.footer .footer-wrap .footer-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  border-top: 1px solid #eee;
}
.footer .footer-wrap .footer-head ul li {
  display: inline-block;
  margin: 0 10px;
  line-height: 50px;
  cursor: pointer;
}
.footer .footer-wrap .footer-head ul li:hover {
  color: #FFBF00;
}
.footer .footer-wrap .footer-head ul.sns {
  font-size: 24px;
}
.footer .footer-wrap .footer-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #eee;
}
.footer .footer-wrap .footer-main ul {
  width: 300px;
}
.footer .footer-wrap .footer-main ul li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 0;
}
.footer .footer-wrap .footer-main ul li b {
  align-items: center;
}
.footer .footer-wrap .footer-end {
  border-top: 1px solid #eee;
  height: 50px;
}
.footer .footer-wrap .footer-end ul li {
  display: inline-block;
  margin: 0 20px;
  line-height: 50px;
}
.footer .footer-wrap .footer-end ul li:first-child {
  margin-left: 0;
}

section.products .products-wrap {
  margin: 0 auto;
  width: 1245px;
  display: flex;
  flex-wrap: wrap;
}
section.products .products-wrap .sub-banner {
  width: 100%;
  height: 300px;
  overflow: hidden;
  position: relative;
  color: white;
}
section.products .products-wrap .sub-banner img {
  width: 100%;
  filter: brightness(50%);
}
section.products .products-wrap .sub-banner h1 {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  padding: 0 30px;
  font-size: 36px;
}
section.products .products-wrap .filter {
  width: 100%;
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
section.products .products-wrap .filter select {
  width: 150px;
  padding: 10px;
}
section.products .products-wrap .product-box {
  width: 300px;
  margin: 20px 15px 50px 0;
  position: relative;
}
section.products .products-wrap .product-box:nth-child(4n+2) { /* sub banner, filter때문에.. */
  margin-right: 0;
}
section.products .products-wrap .product-box img {
  display: block;
  width: 100%;
  height: 400px; /* 임시 (원본 사이즈 모름) */
  border: 1px solid #ccc;
  -o-object-fit: cover;
     object-fit: cover;
}
section.products .products-wrap .product-box img.hover-img {
  opacity: 0;
  position: absolute;
  top: 0;
  z-index: 1;
  transition: 0.1s;
}
section.products .products-wrap .product-box img.hover-img:hover {
  opacity: 1;
}
section.products .products-wrap .product-box .detail {
  position: relative;
}
section.products .products-wrap .product-box .detail h3.name-kor {
  height: 50px;
  background-color: #eee;
  padding: 10px;
}
section.products .products-wrap .product-box .detail p {
  padding: 0 10px;
}
section.products .products-wrap .product-box .detail b {
  padding: 10px;
  display: block;
}
section.products .products-wrap .product-box .detail button.add-to-cart {
  position: absolute;
  bottom: 5px;
  right: 0;
  display: block;
  width: 100px;
  float: right;
  margin-right: 10px;
  background-color: #FFBF00;
  cursor: pointer;
  transition: 0.1s;
  border: 1px solid black;
  padding: 5px 0;
}
section.products .products-wrap .product-box .detail button.add-to-cart:hover {
  background-color: white;
}

section.detail-view .detail-view-wrap {
  width: 1245px;
  margin: 0 auto;
  display: flex;
  padding: 30px 0;
}
section.detail-view .detail-view-wrap .detail-visual {
  width: 615px;
  margin-right: 15px;
}
section.detail-view .detail-view-wrap .detail-visual .swiper {
  width: 100%;
  height: 100%;
}
section.detail-view .detail-view-wrap .detail-visual .swiper .swiper-slide img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
section.detail-view .detail-view-wrap .detail-visual .swiper .swiper-button-prev, section.detail-view .detail-view-wrap .detail-visual .swiper .swiper-button-next {
  position: absolute;
  top: 0;
  padding: 0 15px;
  color: #FFBF00;
  height: calc(100% - 40px);
  margin-top: 0;
}
section.detail-view .detail-view-wrap .detail-visual .swiper .swiper-button-prev:hover, section.detail-view .detail-view-wrap .detail-visual .swiper .swiper-button-next:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
section.detail-view .detail-view-wrap .detail-visual .swiper .swiper-button-prev {
  left: 0;
}
section.detail-view .detail-view-wrap .detail-visual .swiper .swiper-button-next {
  right: 0;
}
section.detail-view .detail-view-wrap .detail-visual .swiper .swiper-pagination-bullet-active {
  background-color: #FFBF00;
}
section.detail-view .detail-view-wrap .detail-info {
  width: 615px;
  padding: 0 30px;
  margin: auto 0;
}
section.detail-view .detail-view-wrap .detail-info .title {
  font-size: 24px;
  margin-bottom: 30px;
}
section.detail-view .detail-view-wrap .detail-info .title p {
  margin: 15px 0;
}
section.detail-view .detail-view-wrap .detail-info .user-btn {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}
section.detail-view .detail-view-wrap .detail-info .user-btn .amount-btn {
  display: flex;
}
section.detail-view .detail-view-wrap .detail-info .user-btn .amount-btn > div {
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
}
section.detail-view .detail-view-wrap .detail-info .user-btn .amount-btn .prompt {
  font-size: 20px;
  width: 60px;
}
section.detail-view .detail-view-wrap .detail-info .user-btn .amount-btn .plus, section.detail-view .detail-view-wrap .detail-info .user-btn .amount-btn .minus {
  background-color: #FFBF00;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.2s;
}
section.detail-view .detail-view-wrap .detail-info .user-btn .amount-btn .plus:hover, section.detail-view .detail-view-wrap .detail-info .user-btn .amount-btn .minus:hover {
  background-color: black;
  color: #FFBF00;
}
section.detail-view .detail-view-wrap .detail-info .user-btn button {
  width: calc(50% - 15px);
  padding: 10px;
  border: 1px solid black;
  background-color: #FFBF00;
  transition: 0.1s;
  cursor: pointer;
}
section.detail-view .detail-view-wrap .detail-info .user-btn button:first-child {
  margin-right: 15px;
}
section.detail-view .detail-view-wrap .detail-info .user-btn button:hover {
  background-color: #fff;
}
section.detail-view .detail-view-wrap .detail-info .notice p {
  margin: 15px 0;
}
section.detail-view .detail-view-wrap .detail-info .notice .notice-title {
  font-weight: bold;
}

.my-cart .my-cart-wrap {
  margin: 0 auto;
  width: 1245px;
}
.my-cart .my-cart-wrap ul {
  border: 1px solid #ccc;
  padding: 0 20px;
}
.my-cart .my-cart-wrap ul li.sort {
  font-weight: bold;
  border-bottom: 1px solid #eee;
}
.my-cart .my-cart-wrap ul li {
  display: flex;
}
.my-cart .my-cart-wrap ul li div {
  padding: 15px;
}
.my-cart .my-cart-wrap ul li .image {
  width: 10%;
}
.my-cart .my-cart-wrap ul li .image img {
  width: 100%;
}
.my-cart .my-cart-wrap ul li .name {
  width: 65%;
}
.my-cart .my-cart-wrap ul li .price {
  width: 10%;
}
.my-cart .my-cart-wrap ul li .count {
  text-align: center;
  width: 10%;
}
.my-cart .my-cart-wrap ul li .cart-btn {
  width: 15%;
  display: flex;
  justify-content: space-evenly;
}
.my-cart .my-cart-wrap ul li .cart-btn button {
  width: 30px;
  height: 30px;
  display: block;
  background-color: #FFBF00;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}
.my-cart .my-cart-wrap ul li .cart-btn button:last-child {
  background-color: red;
  color: white;
}
.my-cart .my-cart-wrap h2.cart-result {
  text-align: center;
}

.lookbook-page .lookbook-page-wrap {
  margin: 0 auto;
  width: 1245px;
}
.lookbook-page .lookbook-page-wrap .lookbook-title {
  position: relative;
  height: 300px;
  background-color: rgba(0, 0, 0, 0.4);
  overflow: hidden;
  color: white;
}
.lookbook-page .lookbook-page-wrap .lookbook-title h1 {
  font-size: 36px;
  margin: 0;
}
.lookbook-page .lookbook-page-wrap .lookbook-title h1, .lookbook-page .lookbook-page-wrap .lookbook-title p {
  padding: 30px;
}
.lookbook-page .lookbook-page-wrap .lookbook-title video {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -1;
  position: absolute;
  top: 0;
}
.lookbook-page .lookbook-page-wrap .contents h2.title {
  text-align: center;
  margin: 30px 0;
}
.lookbook-page .lookbook-page-wrap .contents .content {
  overflow: hidden;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.lookbook-page .lookbook-page-wrap .contents .content > img {
  width: 90%;
  margin: 15px 0;
}
.lookbook-page .lookbook-page-wrap .contents .content .wearing {
  width: 100%;
  margin: 60px 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  position: relative;
}
.lookbook-page .lookbook-page-wrap .contents .content .wearing > div {
  cursor: pointer;
}
.lookbook-page .lookbook-page-wrap .contents .content .wearing h2 {
  width: 100%;
  text-align: center;
  margin: 30px 0;
}
.lookbook-page .lookbook-page-wrap .contents .content .wearing img {
  width: 195px;
  border: 1px solid #eee;
}
.lookbook-page .lookbook-page-wrap .contents .content .wearing img:last-child {
  margin-right: 0;
}
.lookbook-page .lookbook-page-wrap .contents .content .wearing .wearing-product {
  position: relative;
  margin-right: 15px;
}
.lookbook-page .lookbook-page-wrap .contents .content .wearing .wearing-product .hover-content {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  transition: 0.1s;
  display: flex;
  align-items: center;
}
.lookbook-page .lookbook-page-wrap .contents .content .wearing .wearing-product .hover-content:hover {
  opacity: 1;
}
.lookbook-page .lookbook-page-wrap .contents .content .wearing .wearing-product .hover-content p {
  text-align: center;
  width: 100%;
}/*# sourceMappingURL=App.css.map */